table {
    color: white;
    font-size: 36px;
    border: 15px solid #347BFB;
    width: 380px;
    height: 540px;
    text-align: center;
    border-collapse: collapse;
    font-family: sans-serif;

}

tr:nth-child(1) {
    background-color: #F76870;
}
tr:nth-child(2) {
    background-color: #F0F748;
}
tr:nth-child(3) {
    background-color: #96EAE8;
}
tr:nth-child(4) {
    background-color: #738BE9;
}