@model DependencyInjectionWorkshop.Models.Counter
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p style="color:silver">@Model.Number</p>
	@using (Html.BeginForm("action", "home"))
		{
        <input type="submit" value="dog counter" style="color:gold; background-color:silver"/>
        }
</body>
</html>