<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Fox Manager App</title>
    </head>
    <body>   
		<div class="navigation-bar">
        <div id="navigation-container">
            <img src="logo.png"> 
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Classes</a></li>
            </ul>
        </div>
    </div>
    </body>
</html>