h2 {
    color:gold;
}

span, p {
    font-weight: bold;
}

table {
    font-family: Verdana;
    text-align:center;
}

th {
    color: black;
    background-color: gold;
    border: 2px solid;
    padding: 0px 1px 0px 1px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

td {
    padding: 5px 3px 5px 3px;
    border: 2px solid black;
}
