@model AnagrammWebapp.Models.AnagrammCheck

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
    <body>
        <p style="color:pink; font-size:28px">  @Model.FirstWord @Model.SecondWord !</p>


    </body>
</html>