<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
		<h3> add two words and I will check whether they are anagramms or not</h3>
   <form style="color:gold" action="isAnagramm" method="post">
            
        <label style="color:gold; font-weight:bold">first word:</label>
        <input style="color:silver; text-align:center" 
               type="text" name="FirstWord" value=""/> <br /> <br />

        <label style="color:gold; font-weight:bold">second word:</label>
        <input style="color:silver; text-align:center" 
               type="text" name="SecondWord" value=""/> <br /> <br />

        <button style="color:gold" 
                type="submit" value="Submit">Save</button></form>
    </body>
</html>
