@model AnagrammWebapp.Models.AnagrammCheck

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
    <body>
		    <h1>"@Model.FirstWord" and "@Model.SecondWord" are</h1>
             <h2>@(Model.IsAnagram() ? "anagramms!" : "not anagramms")</h2>
    </body>
</html>