@model List<BankOfSimba.Models.BankAccount>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	 @{int counter = 1;}
	 @foreach (var account in Model)
    {
        <p>
            @counter - @account.Name @account.Balance @account.AnimalType
        </p>
		counter++;
    }

</body>
</html>