@model GreetSomeone.Models.Greet

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
    <body>
        <p style="color:pink; font-size:28px"> Hey @Model.FirstName @Model.LastName!</p>
		<p> Your birthday is on @Model.Birthday </p>
		<p>here is a dog for you</p>
        <img src="http://www.quirkbooks.com/sites/default/files/styles/blog_detail_featured_image/public/u1002/Find_Momo_best_seller.jpg?itok=zjFJ9N3i">

    </body>
</html>