<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
   <form style="color:gold" action="greet" method="post">
			
		<label style="color:gold; font-weight:bold">first name:</label>
        <input style="color:silver; text-align:center" 
			   type="text" name="FirstName" value=""/> <br /> <br />

		<label style="color:gold; font-weight:bold">last name:</label>
        <input style="color:silver; text-align:center" 
			   type="text" name="LastName" value=""/> <br /> <br />

        <label style="color:gold; font-weight:bold">birthday:</label>
        <input style="color:silver; text-align:center"
			   type="text" name="Birthday" value=""/> <br /> <br />
            
        <button style="color:gold" 
		        type="submit" value="Submit">Save</button></form>
    </body>
</html>