<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
   <form style="color:gold" action="submit" method="post">
		<label style="color:gold; font-weight:bold">Name:</label>
        <input style="color:silver; text-align:center" type="text" name="Name" value=""/>
        <button style="color:gold" type="submit" value="Submit">Save</button></form>
    </body>
</html>