h2 {
    color: gold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

span, p {
    font-weight: bold;
}

table {
    font-family: Verdana;
    text-align: center;
    color:#AA4465;
}

th {
    color: black;
    background-color: #861657;
    border: 2px solid;
    padding: 3px 5px 3px 5px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

td {
    padding: 5px 3px 5px 3px;
    border: 2px solid black;
}
