@model ICollection<Reddit.Models.Content>
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
		<title>Reddit App</title>
    </head>
    <body>
		<h3>Reddit</h3>
		<table>
			<tr>
				<th>Score</th>
                <th>Post</th>
				<th>Action</th>
			</tr>
			@foreach (var item in @Model)
			{
			<tr>
				<th>@item.Votes</th>
				<th>@item.Post</th>
			</tr>
			}
		</table>
		 <form action="/add" method="get"><button type="submit" 
                        value="Add">Add new post</button></form>
    </body>
</html>