
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Licence Plate</title>
    </head>
    <body>
        <h3>Search</h3>
            <form action="/search" method="get" class="form-group">
            <label for="Plate">Plate licence:</label> <br />
            <input type="text" name="Plate"/> <br/> <br/>
            <button type="submit">Search</button>
			</form>
        <br/>

        <div><a href="/search/police">Police cars</a></div>
		<div><a href="/search/diplomat">Diplomat cars</a></div>
		<br/>
        	
		<table>
            <tr>
                <th>Plate</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Color</th>
                <th>Year</th>
            </tr>
            @foreach (var item in @Model)
            {
            <tr>
                <td>@item.Plate</td>
                <td>@item.Car_model</td>
                <td>@item.Color</td>
				<td>@item.Year</td>
            </tr>
            }
        </table>
    </body>
</html>
