<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fox Manager Login</title>
    </head>
    <body>
        <h1>Login</h1>
		<img src="https://www.abbaye-saint-hilaire-vaucluse.com/images_alpacas/alpaga_1.jpg" width="100"/>
        <form action="/home" method="post">
            <label for="userName">User name: </label>
            <input type="text" id="userName" name="Name"/>
            <div>
                <br/><button type="submit">Login</button>
            </div>
        </form>
    </body>
</html>