<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add to Todo App</title>

</head>
<body>
   <form action="add" method="post">
            
        <label style="color:gold; font-weight:bold">task to add:</label>
        <input style="color:silver; text-align:center" 
               type="text" name="Title" value=""/> <br /> <br />

		<label style="color:gold; font-weight:bold">is it urgent? y/n:</label>
        <input style="color:silver; text-align:center" 
               type="checkbox" name="IsUrgent" value=""/> <br /> <br />

        <button style="color:gold" 
                type="submit" value="Submit">Save</button></form>
</body>
</html>
       