

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo</title>
</head>
<body>
    <h2>Todos for today</h2>
		<ul>
	<li>start the day</li>
	<li>finish H2 workshop1</li>
	<li>finish JPA workshop2</li>
    <li>create a CRUD project</li>
		</ul>
</body>
</html>