@model System.Collections.Generic.List<ListingTodos.Models.Todo>
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo</title>
</head>
<body>
    <h2>Todos for today</h2>

		<table style="width:100%">
  <tr>
    <th>Id</th>
    <th>Todo</th> 
    <th>Is Urgent</th>
    <th>Is Done</th>
  </tr>


</table>
		@foreach (var item in @Model) 
		{
           <div>@item.Id @item.Title @item.IsUrgent @item.IsDone </div> 
		}
        
</body>
</html>
       