

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo</title>
</head>
<body>
    <h2>Todos for today</h2>
	<p>start the day</p>
	<p>finish H2 workshop1</p>
	<p>finish JPA workshop2</p>
    <p>create a CRUD project</p>
		
</body>
</html>