@model ListingTodos.Models.Todo
<body>
    <h1>Editing todo</h1>
	
    @using (Html.BeginForm("edit", "todo"))
    {
    <input type="hidden" name="Id" value="@Model.Id" />
	
    <label>Title: </label>@Html.TextBoxFor(x => x.Title)<br /><br/>
    <label>Is it urgent? </label>@Html.CheckBoxFor(x => x.IsUrgent)<br/><br/>
    <label>Is it done? </label>@Html.CheckBoxFor(x => x.IsDone)<br/>
	<br/>
    <button type="submit">Submit</button>
    }

	<form action="/list" method="get"><button type="submit" 
                        value="Add">Cancel</button></form>
</body>

       